{% extends 'base.html' %}

{% block title %}Models{% endblock %}

{% block content %}

<h1>Admin interface</h1>

<p>Delete models here</p>

<div id="items" class="container">
    <h2>Models</h2>
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>filename</th>
        <th></th>
      </tr>
      {%- for model in args %}
      <tr>
        <td>{{ model.id }}</td>
        <td>{{ model.filename }}</td>
        <td><a href="/delete_model/{{model.id}}" class="btn btn-danger btn-xs">Delete</a></td>
      </tr>
      {%- endfor %}
    </table>
 
</div>

{% endblock %}